.App {
  text-align: center;
}
.lowTemp{
  background:#34495e;
  padding: 15px 10px;
}
.highTemp{
  background:#2c3e50;
  padding:15px 10px;
}
.icon{
  padding:20px;
  color:222;
}
.cityLink{
  color:#333;
  transition: all .2s ease-in-out;
}
