body {
  margin: 0;
  padding: 20px 0;
  font-family: sans-serif;
  background: #f06060; /* Old browsers */
}
html{
  min-height:100%;
}
.footer{
  color:white
}
.list{
  background:#cb4e4e;
  margin-bottom:20px;
  box-shadow: 0 6px #ab3c3c;
  color:white
}
.panel-upgrade{
  background:#cb4e4e;
  box-shadow: 0 6px #ab3c3c;
  color:white
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #ab3c3c;
}
.searchbar{
  margin-bottom: 20px;
  background: #cb4e4e;
  padding: 20px;
  height: 60px;
  border: none;
  color: white;
  box-shadow: 2px 3px #ab3c3c;
}
.searchbar:focus{
  border-color: #ab3c3c;
  box-shadow: 2px 3px #ab3c3c;
}
.searchbar::placeholder{
  color:white
}
.city{font-size:30px;}
.country{font-size:24px;}

.degree{font-size:30px}
.measure{font-size:24px}
.degree-text{font-size:14px; color:white}
.cityIcon{
  font-size:16px;
}
.panel-red{
  border-color:#34495e;
  border-radius:0px;
}
.panel-heading{
  background:#34495e;
  color:white;
  border-radius:0px;
  padding: 15px;
  border-bottom: 5px solid #2c3e50;
}
.panel-icon{
  color:red;
  font-size:56px;
  margin:30px;
}
